@font-face {
    font-family: apple_gothic;
    src: url("./font/apple_sd_gothic_neo_r.ttf");
}
*{
    font-family: apple_gothic;
    
}
input{
    width: 100%;
    font-size: 25px;
    padding: 1%;
}
textarea{
    width: 100%;
    height: 100%;
    resize: none;
    font-size: 25px;
    padding: 2%;
}
fieldset{
    border: 0px;
}

#write{
    padding: 5%;
    border: 1px solid gray; 
    background: #f5f5f5;
    display: flex;
    flex-direction: column;
}

#editor{
    height: 60%;
    padding-top: 0%;
}

#sidebar{
    height: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
}


.setting{
    text-align: center;            
    margin: auto;
    width: 90%;
    padding: 1%;
    display: flex;
    flex-direction: row;
}