<p><h1>This is Profile.ejs</h1></p>
<br><br><br><br>
<a href="./register">Register.ejs</a>
<a href="./main">main.ejs</a>
<a href="./post">post.ejs</a>
<a href="./profile">profile.ejs</a>
<a href="./">login.ejs</a>